NODE_ENV=<your_node_env>
PORT=<your_port>

DATABASE_URL=<your_database_url>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>
CLOUDINARY_BASE_FOLDER=<your_cloudinary_base_folder>

# JWT
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_ACCESS_EXPIRES_IN=<your_jwt_access_expires_in>
JWT_REFRESH_SECRET=<your_refresh_secret>
JWT_REFRESH_EXPIRES_IN=<your_refresh_expires_in>