NODE_ENV=<your_node_env>
PORT=<your_port>

DATABASE_URL=<your_database_url>

IMAGE_PRODUCT_PLACEHOLDER_URL=<your_image_product_placeholder_url>

CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>
CLOUDINARY_BASE_FOLDER=<your_cloudinary_base_folder>

JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=<your_jwt_expires_in>